body {
    background-color: rgb(35, 110, 215);
    font-family: "Arial", sans-serif;
    font-weight: 100;
    text-align: center;
}

button {
    background-color: white;
    border: 2px solid rgb(65, 44, 132);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 5px;
}

.message {
    font-size: 30px;
    font-weight: 700;
    padding-top: 5px;
}
